<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>WebDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/01133bdd-20a6-4231-88bc-8d6b8c7cad41/resourcegroups/AzureCloudServiceBlink/providers/Microsoft.Web/sites/HTMLToPDFWebApplication20240508143652</ResourceId>
    <ResourceGroup>AzureCloudServiceBlink</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://htmltopdfwebapplication20240508143652.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8561e39b-8497-4255-8c5d-320d49e81dd8</ProjectGuid>
    <PublishUrl>https://htmltopdfwebapplication20240508143652.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HTMLToPDFWebApplication20240508143652</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>